@page "/account"

@using System.Globalization

<div class="row">
    <div class="col">
        <button class="btn btn-sm btn-primary header-action-button" @onclick="CreateNewAccount">New account</button>
    </div>
</div>

<div class="d-flex flex-wrap">
    @foreach (var account in _dataContext.Accounts)
    {
        <div class="card card-account me-2 mb-2">
            <div class="card-body">
                <h5 class="card-title">@account.Name</h5>
                <p class="card-text">Balance: @account.Balance.ToString("C", CultureInfo.CurrentCulture)</p>
                <button class="btn btn-sm btn-primary header-action-button" @onclick="@(() => DisplayAccountTransactions(account))">Display Transactions</button>
                <button class="btn btn-sm btn-primary header-action-button" @onclick="@(() => EditAccount(account))">Edit</button>
                <button class="btn btn-sm btn-danger header-action-button" @onclick="@(() => CloseAccount(account))">Close</button>
            </div>
        </div>
    }
</div>

<EditAccountDialog
    Title="@_editAccountDialogTitle"
    DataContext="@_editAccountDialogDataContext"
    IsDialogVisible="@_isEditAccountModalDialogVisible"
    OnSaveClickCallback="@(() => SaveChanges(_editAccountDialogDataContext!))"
    OnCancelClickCallback="@(CancelChanges)"/>

<TransactionDialog 
    Title="Account Transactions" 
    DataContext="@_transactionModalDialogDataContext" 
    IsDialogVisible="@_isTransactionModalDialogVisible" 
    IsDialogLoading="@_isTransactionModalDialogDataContextLoading"
    OnClickCallback="@(() => _isTransactionModalDialogVisible = false)"/>

<ErrorMessageDialog 
    Title="Account" 
    Message="@_errorModalDialogMessage" 
    IsDialogVisible="@_isErrorModalDialogVisible"
    OnClickCallback="@(() => _isErrorModalDialogVisible = false)"/>
    