@page "/bucket"
@using OpenBudgeteer.Core.Common.Database
@using OpenBudgeteer.Core.ViewModels
@using OpenBudgeteer.Core.ViewModels.ItemViewModels
@using Microsoft.EntityFrameworkCore
@using System.Drawing
@using System.Globalization
@using OpenBudgeteer.Core.Common
@using OpenBudgeteer.Core.Models
@inject DbContextOptions<DatabaseContext> DbContextOptions
@inject YearMonthSelectorViewModel YearMonthDataContext

<style>
	/* Overwrite custom styles */
	.col-numbers {
        width: 90px;
    }
	.col-buttons {
        width: 120px;
    }  
	.table td {
        border-top: none;
        border-bottom: 1px solid;
        border-bottom-color: inherit;
    }

    /* Page specific styles */
    hr.tile-divider {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    span.tile-header {
        font-weight: bold;
    }
    div.header-stats-tile {
        margin-bottom: 0.4rem;
    }
    .bucketgroup-header-text {
        font-size: 1rem;
        font-weight: bold;
        vertical-align: middle;
    }
	button.collapse-button {
        font-family: "Segoe UI Symbol";
        padding: 0;
        height: 25px;
        width: 25px;
    }
	button.collapse-button:focus, button.collapse-button:active {
        outline: none;
		box-shadow: none;
    }
    .col-details {
        width: 250px;
    }
    .borderless td, .borderless th {
        border-bottom: none;
    }
</style>

<div class="row" style="margin:0 0 1rem 0">
    <div class="col header-stats-tile">
        <div class="row">
            <div class="col-md-auto no-gutters">
                <img src="css/icons8/refund.png"/>
            </div>
            <div class="col" style="text-align: center">
                <span class="tile-header">Income</span>
                <hr class="tile-divider"/>
                <span>@_dataContext.Income.ToString("C", CultureInfo.CurrentCulture)</span>
            </div>
        </div>
    </div>
    <div class="col header-stats-tile">
        <div class="row">
            <div class="col-md-auto no-gutters">
                <img src="css/icons8/cash-in-hand.png"/>
            </div>
            <div class="col" style="text-align: center">
                <span class="tile-header">Expenses</span>
                <hr class="tile-divider"/>
                <span>@_dataContext.Expenses.ToString("C", CultureInfo.CurrentCulture)</span>
            </div>
        </div>
    </div>
    <div class="col header-stats-tile">
        <div class="row">
            <div class="col-md-auto no-gutters">
                <img src="css/icons8/exchange.png"/>
            </div>
            <div class="col" style="text-align: center">
                <span class="tile-header">Month Balance</span>
                <hr class="tile-divider"/>
                <span>@_dataContext.MonthBalance.ToString("C", CultureInfo.CurrentCulture)</span>
            </div>
        </div>
    </div>
    <div class="col header-stats-tile">
        <div class="row">
            <div class="col-md-auto no-gutters">
                <img src="css/icons8/merchant-account.png"/>
            </div>
            <div class="col" style="text-align: center">
                <span class="tile-header">Bank Balance</span>
                <hr class="tile-divider"/>
                <span>@_dataContext.BankBalance.ToString("C", CultureInfo.CurrentCulture)</span>
            </div>
        </div>
    </div>
    <div class="w-100 header-stats-tile">
        <hr/>
    </div>
    <div class="col header-stats-tile">
        <div class="row">
            <div class="col-md-auto no-gutters">
                <img src="css/icons8/banknotes.png"/>
            </div>
            <div class="col" style="text-align: center">
                <span class="tile-header">Budget</span>
                <hr class="tile-divider"/>
                <span>@_dataContext.Budget.ToString("C", CultureInfo.CurrentCulture)</span>
            </div>
        </div>
    </div>
    <div class="col header-stats-tile">
        <div class="row">
            <div class="col-md-auto no-gutters">
                <img src="css/icons8/receive-cash.png"/>
            </div>
            <div class="col" style="text-align: center">
                <span class="tile-header">Pending Want</span>
                <hr class="tile-divider"/>
                <span>@_dataContext.PendingWant.ToString("C", CultureInfo.CurrentCulture)</span>
            </div>
        </div>
    </div>
    <div class="col header-stats-tile">
        <div class="row">
            <div class="col-md-auto no-gutters">
                <img src="css/icons8/money-bag-euro.png"/>
            </div>
            <div class="col" style="text-align: center">
                <span class="tile-header">Remaining Budget</span>
                <hr class="tile-divider"/>
                <span>@_dataContext.RemainingBudget.ToString("C", CultureInfo.CurrentCulture)</span>
            </div>
        </div>
    </div>
    <div class="col header-stats-tile">
        <div class="row">
            <div class="col-md-auto no-gutters">
                <img src="css/icons8/high-priority.png"/>
            </div>
            <div class="col" style="text-align: center">
                <span class="tile-header">Negative Bucket Balance</span>
                <hr class="tile-divider"/>
                <span>@_dataContext.NegativeBucketBalance.ToString("C", CultureInfo.CurrentCulture)</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <button class="btn btn-sm btn-primary header-action-button" @onclick="@ShowNewBucketGroupDialog">Create Bucket Group</button>
        <button class="btn btn-sm btn-primary header-action-button" @onclick="@DistributeBudget">Distribute Budget</button>
        <button class="btn btn-sm btn-primary header-action-button" @onclick="@(() => _dataContext.ChangeBucketGroupCollapse())">Collapse All</button>
		<button class="btn btn-sm btn-primary header-action-button" @onclick="@(() => _dataContext.ChangeBucketGroupCollapse(false))">Expend All</button>
    </div>
    <YearMonthSelector DataContext="YearMonthDataContext"/>
</div>

<table class="table table-sm">
    <thead>
    <tr class="header-row">
        <th>Bucket</th>
        <th class="col-numbers">Balance</th>
        <th class="col-numbers">InOut</th>
        <th class="col-numbers">Want</th>
        <th class="col-numbers">In</th>
        <th class="col-numbers">Activity</th>
        <th class="col-details">Details</th>
		<th class="col-buttons"></th>
    </tr>
    </thead>
    <tbody><tr></tr></tbody>
</table>

@foreach (var bucketGroup in _dataContext.BucketGroups)
{
     <table class="table table-sm">
        <thead>
        <tr class="header-row" @onmouseover="() => bucketGroup.IsHovered = true" @onmouseout="() => bucketGroup.IsHovered = false">
            @if (bucketGroup.InModification)
            {
                <th colspan="8">
                    <div class="row" style="max-width: 500px">
                        <div class="col">
							<input class="form-control form-control-sm" type="text" @bind="bucketGroup.BucketGroup.Name"/>
                        </div>
                        <div class="col-3 col-buttons">
							<button class="btn btn-sm btn-primary" @onclick="@(() => HandleResult(bucketGroup.SaveModification()))">Ok</button>
                            <button class="btn btn-sm btn-danger" @onclick="@(() => bucketGroup.CancelModification())">Cancel</button>
                        </div>
                    </div>
                </th>
            }
            else
            {
                <th>
                    <div>
						<button class="btn btn-sm header-action-button collapse-button" 
                                @onclick="@(() => bucketGroup.IsCollapsed = !bucketGroup.IsCollapsed)"><span>@(bucketGroup.IsCollapsed ? "▶" : "▼")</span></button>
                        <span class="bucketgroup-header-text">@bucketGroup.BucketGroup.Name</span>
                    </div>
                </th>
                <th class="col-numbers"><span class="bucketgroup-header-text">@bucketGroup.TotalBalance.ToString("N2")</span></th>
                <th class="col-numbers"></th>                                                                                            
                <th class="col-numbers"><span class="bucketgroup-header-text">@(bucketGroup.TotalWant == 0 ? string.Empty : bucketGroup.TotalWant.ToString("N2"))</span></th>
                <th class="col-numbers"><span class="bucketgroup-header-text">@(bucketGroup.TotalIn == 0 ? string.Empty : bucketGroup.TotalIn.ToString("N2"))</span></th>
                <th class="col-numbers"><span class="bucketgroup-header-text">@(bucketGroup.TotalActivity == 0 ? string.Empty : bucketGroup.TotalActivity.ToString("N2"))</span></th>
                <th class="col-buttons" style="width: 370px">
                    @if (bucketGroup.IsHovered)
                    {
                        <button class="btn btn-sm btn-primary bi bi-pencil" @onclick="@(() => bucketGroup.StartModification())"></button>
                        <button class="btn btn-sm btn-primary bi bi-arrow-up" @onclick="@(() => HandleResult(bucketGroup.MoveGroup(-1)))"></button>
                        <button class="btn btn-sm btn-primary bi bi-arrow-down" @onclick="@(() => HandleResult(bucketGroup.MoveGroup(1)))"></button>
                        <button class="btn btn-sm btn-danger bi bi-trash3" @onclick="@(() => HandleResult(_dataContext.DeleteGroup(bucketGroup)))"></button>
                        <button class="btn btn-sm btn-primary bi bi-plus-lg" @onclick="@(() => CreateBucket(bucketGroup))"></button>
                    }
                </th>
            }
        </tr>
        </thead>
        <tbody><tr></tr></tbody>
    </table>
    
    <table class="table table-sm">
        <tbody class="@(bucketGroup.IsCollapsed ? "collapse" : "")">
            @foreach (var bucket in bucketGroup.Buckets)
            {
                <tr @onmouseover="() => bucket.IsHovered = true" @onmouseout="() => bucket.IsHovered = false">
                    <td>
                        @if (bucket.Bucket.IsInactive)
                        {
                            <div style="background-color: @ColorTranslator.ToHtml(bucket.Bucket.Color); border-radius: 25px; padding: 5px 10px">
                                @($"{bucket.Bucket.Name} (Inactive from: {bucket.Bucket.IsInactiveFrom.ToShortDateString()})")
                            </div>
                        }
                        else
                        {
                            <div style="background-color: @ColorTranslator.ToHtml(bucket.Bucket.Color); border-radius: 25px; padding: 5px 10px">@bucket.Bucket.Name</div>
                        }
                    </td>
                    <td class="col-numbers">@bucket.Balance.ToString("N2")</td>
                    <td class="col-numbers">
                        <input class="form-control form-control-sm" style="text-align: right;" type="number"
                               @bind="bucket.InOut"
                               @onkeyup="@(args => InOut_Changed(bucket, args))"/>
                    </td>
                    <td class="col-numbers">@(bucket.Want == 0 ? string.Empty : bucket.Want.ToString("N2"))</td>
                    <td class="col-numbers">@(bucket.In == 0 ? string.Empty : bucket.In.ToString("N2"))</td>
                    <td class="col-numbers">@(bucket.Activity == 0 ? string.Empty : bucket.Activity.ToString("N2"))</td>
                    <td class="col-details">
                        @if (bucket.IsProgressbarVisible)
                        {
                            <div class="row">
                                <div class="col">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: @bucket.Progress%;" aria-valuenow="@bucket.Progress" aria-valuemin="0" aria-valuemax="100">
                                            @bucket.Progress%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="font-size: .75rem; text-align: center">
                                    @bucket.Details
                                </div>
                            </div>
                        }
                    </td>
                    <td class="col-buttons">
                        @if (bucket.IsHovered)
                        {
                            <button class="btn btn-sm btn-primary bi bi-list-ul" @onclick="@(() => DisplayBucketTransactions(bucket))"></button>
                            <button class="btn btn-sm btn-primary bi bi-pencil" @onclick="@(() => ShowEditBucketDialog(bucket))"></button>
                            <button class="btn btn-sm btn-danger bi bi-trash3" @onclick="@(() => CloseBucket(bucket))"></button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<NewBucketGroupDialog
    DataContext="@_newBucketGroupDialogDataContext"
    IsDialogVisible="@_isNewBucketGroupModalDialogVisible"
    OnCancelClickCallback="@(CancelNewBucketGroupDialog)"
    OnSaveClickCallback="@(SaveAndCloseNewBucketGroupDialog)"
    />

<EditBucketDialog 
    Title="Edit Bucket"
    DataContext="@_editBucketDialogDataContext"
    IsDialogVisible="@_isEditBucketModalDialogVisible"
    OnCancelClickCallback="@(CancelEditBucketDialog)"
    OnSaveClickCallback="@(SaveAndCloseEditBucketDialog)"/>

<TransactionDialog 
    Title="Bucket Transactions" 
    DataContext="@_transactionModalDialogDataContext" 
    IsDialogVisible="@_isTransactionModalDialogVisible" 
    IsDialogLoading="@_isTransactionModalDialogDataContextLoading"
    CurrentBucket ="@_transactionModalDialogBucket"
    OnClickCallback="@(() => _isTransactionModalDialogVisible = false)"/>

<ErrorMessageDialog 
    Title="Bucket" 
    Message="@_errorModalDialogMessage" 
    IsDialogVisible="@_isErrorModalDialogVisible"
    OnClickCallback="@(() => _isErrorModalDialogVisible = false)"/>

@code {
    BucketViewModel _dataContext;

    BucketGroup _newBucketGroupDialogDataContext;
    bool _isNewBucketGroupModalDialogVisible;

    BucketViewModelItem _editBucketDialogDataContext;
    bool _isEditBucketModalDialogVisible;

    TransactionViewModel _transactionModalDialogDataContext;
    OpenBudgeteer.Core.Models.Bucket _transactionModalDialogBucket;
    bool _isTransactionModalDialogVisible;
    bool _isTransactionModalDialogDataContextLoading;

    bool _isErrorModalDialogVisible;
    string _errorModalDialogMessage;

    protected override async Task OnInitializedAsync()
    {
        _dataContext = new BucketViewModel(DbContextOptions, YearMonthDataContext);

        await HandleResult(await _dataContext.LoadDataAsync());
        
        YearMonthDataContext.SelectedYearMonthChanged += async (sender, args) => 
        {
            await HandleResult(await _dataContext.LoadDataAsync());
            StateHasChanged();
        };
    }

    async void CreateGroup()
    {
        await HandleResult(_dataContext.CreateGroup());
    }

    async void DistributeBudget()
    {
        await HandleResult(_dataContext.DistributeBudget());
    }

    void CreateBucket(BucketGroupViewModelItem bucketGroup)
    {
        var newBucket = bucketGroup.CreateBucket();
        ShowEditBucketDialog(newBucket);
    }

    void ShowNewBucketGroupDialog()
    {
        _newBucketGroupDialogDataContext = new BucketGroup
        {
            BucketGroupId = 0,
            Name = string.Empty
        };
        _isNewBucketGroupModalDialogVisible = true;
    }
    
    async void SaveAndCloseNewBucketGroupDialog()
    {
        _isNewBucketGroupModalDialogVisible = false;
        // Requested Position is last, so set right position number 
        if (_newBucketGroupDialogDataContext.Position == -1)
            _newBucketGroupDialogDataContext.Position = _dataContext.BucketGroups.Count + 1;
        await HandleResult(_dataContext.CreateGroup(_newBucketGroupDialogDataContext));
    }

    void CancelNewBucketGroupDialog()
    {
        _isNewBucketGroupModalDialogVisible = false;
    }

    void ShowEditBucketDialog(BucketViewModelItem bucket)
    {
        _editBucketDialogDataContext = bucket;
        _isEditBucketModalDialogVisible = true;
    }

    async void SaveAndCloseEditBucketDialog()
    {
        _isEditBucketModalDialogVisible = false;
        await SaveChanges(_editBucketDialogDataContext);
    }

    async void CancelEditBucketDialog()
    {
        _isEditBucketModalDialogVisible = false;
        await HandleResult(await _dataContext.LoadDataAsync());
        StateHasChanged();
    }

    async Task SaveChanges(BucketViewModelItem bucket)
    {
        await HandleResult(_dataContext.SaveChanges(bucket));
        StateHasChanged();
    }

    async Task CloseBucket(BucketViewModelItem bucket)
    {
        await HandleResult(_dataContext.CloseBucket(bucket));
        StateHasChanged();
    }

    async Task HandleResult(ViewModelOperationResult result)
    {
        if (!result.IsSuccessful)
        {
            _errorModalDialogMessage = result.Message;
            _isErrorModalDialogVisible = true;
        }
		if (result.ViewModelReloadRequired)
        {
            await _dataContext.LoadDataAsync();
            StateHasChanged();
        }
    }

    async void InOut_Changed(BucketViewModelItem bucket, KeyboardEventArgs args)
    {
        var result = bucket.HandleInOutInput(args.Key);
        if (result.IsSuccessful)
        {
            await HandleResult(_dataContext.UpdateBalanceFigures());
            StateHasChanged();
        }
        else
        {
            await HandleResult(result);
        }
    }

    async void DisplayBucketTransactions(BucketViewModelItem bucket)
    {
        _isTransactionModalDialogVisible = true;
        _isTransactionModalDialogDataContextLoading = true;

        _transactionModalDialogDataContext = new TransactionViewModel(DbContextOptions, YearMonthDataContext);
        _transactionModalDialogBucket = bucket.Bucket;
        await HandleResult(await _transactionModalDialogDataContext.LoadDataAsync(bucket.Bucket, true));

        _isTransactionModalDialogDataContextLoading = false;
        StateHasChanged();
    }
}
