@using ApexCharts
@using OpenBudgeteer.Blazor.Common
@using OpenBudgeteer.Blazor.ViewModels
@using System.Globalization
@using OpenBudgeteer.Core.ViewModels.EntityViewModels

@if (IsDialogVisible)
 {
     <div class="modal fade show" style=" display: block;">
         <div class="modal-dialog modal-dialog-scrollable" style="max-width: 1000px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Title</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" @onclick="OnClickCallback"></button>
                </div>
                <div class="modal-body">
                    @if (IsDialogLoading)
                    {
                        <div>Loading...</div>
                    }
                    else
                    {
                        <ul class="nav nav-tabs" id="bucket-details-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="movements-tab" data-bs-toggle="tab" data-bs-target="#bucket-movements" type="button" role="tab" aria-controls="bucket-movements" aria-selected="true">Movements</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="statistics-tab" data-bs-toggle="tab" data-bs-target="#bucket-statistics" type="button" role="tab" aria-controls="bucket-statistics" aria-selected="false">Statistics</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="bucket-details-tabs-content">
                            <div class="tab-pane fade show active" id="bucket-movements" role="tabpanel" aria-labelledby="movements-tab">
                                <input checked="checked" type="checkbox" @onchange="HideBucketMovementCheckboxClicked"/>
                                <label>Show Bucket Movements</label>
                                <table class="table table-sm table-hover">
                                    <thead>
                                        <tr class="header-row">
                                            <th style="text-align: right; width:110px">Date</th>
                                            <th class="d-none d-md-table-cell" style="width:150px">Account</th>
                                            <th class="d-none d-md-table-cell" style="width:250px">Payee</th>
                                            <th >Memo</th>
                                            <th style="text-align: right; width: 120px">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var transaction in DataContext.BucketMovementsData.Transactions)
                                        {
                                            <tr>
                                                <td style="text-align: right">@transaction.TransactionDate.ToShortDateString()</td>
                                                <td class="d-none d-md-table-cell">@transaction.SelectedAccount.Name</td>
                                                <td class="d-none d-md-table-cell">@transaction.Payee</td>
                                                <td>@transaction.Memo</td>
                                                @if (transaction.Buckets.Count == 0)
                                                {
                                                    <td style="text-align: right">@transaction.Amount.ToString("C", CultureInfo.CurrentCulture)</td>
                                                }
                                                else
                                                {
                                                    <td style="text-align: right">@transaction.Buckets.Where(b => b.SelectedBucketId == DataContext.BucketId).Sum(b => b.Amount).ToString("C", CultureInfo.CurrentCulture)</td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="bucket-statistics" role="tabpanel" aria-labelledby="statistics-tab">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 p-1">
                                        <div class="report-chart-box">
                                            <h4 class="report-chart-header">Month Balances</h4>
                                            <ApexChart @ref="MonthBalanceChart" TItem="ReportRecord">
                                                <ApexPointSeries
                                                    TItem="ReportRecord"
                                                    Items="DataContext.MonthBalances"
                                                    Name="Balance"
                                                    SeriesType="SeriesType.Bar"
                                                    XValue="i => i.Label"
                                                    YValue="i => i.Value"
                                                    DataPointMutator="ApexHelper.BalanceChartMutator"/>
                                            </ApexChart>
                                        </div>
                                    </div>
                                     <div class="col-md-6 col-sm-12 p-1">
                                         <div class="report-chart-box">
                                             <h4 class="report-chart-header">Input & Output</h4>
                                             <ApexChart @ref="MonthInputOutputChart" TItem="ReportRecord" Options="MonthInputOutputChartOptions">
                                                 <ApexPointSeries
                                                     TItem="ReportRecord"
                                                     Items="DataContext.MonthInput"
                                                     Name="Input"
                                                     SeriesType="SeriesType.Bar"
                                                     XValue="i => i.Label"
                                                     YValue="i => i.Value"
                                                     Color=@System.Drawing.Color.Green.ToHexString()/>
                                                 <ApexPointSeries
                                                     TItem="ReportRecord"
                                                     Items="DataContext.MonthOutput"
                                                     Name="Output"
                                                     SeriesType="SeriesType.Bar"
                                                     XValue="i => i.Label"
                                                     YValue="i => i.Value"
                                                     Color=@System.Drawing.Color.DarkRed.ToHexString()/>
                                             </ApexChart>
                                         </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col p-1">
                                        <div class="report-chart-box">
                                            <h4 class="report-chart-header">Balance Progression</h4>
                                            <ApexChart @ref="BucketProgressionChart" TItem="ReportRecord" Height="300">
                                                <ApexPointSeries
                                                    TItem="ReportRecord"
                                                    Items="DataContext.BucketProgression"
                                                    Name="Balance"
                                                    SeriesType="SeriesType.Area"
                                                    XValue="i => i.Label"
                                                    YValue="i => i.Value"
                                                    Color=@System.Drawing.Color.Green.ToHexString()/>
                                            </ApexChart>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="OnClickCallback">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
 }

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public BlazorBucketStatisticsViewModel DataContext { get; set; } = null!;

    [Parameter]
    public bool IsDialogVisible { get; set; }

    [Parameter]
    public bool IsDialogLoading { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
    
    private ApexChart<ReportRecord> MonthBalanceChart;
    private ApexChart<ReportRecord> MonthInputOutputChart;
    private ApexChart<ReportRecord> BucketProgressionChart;
    
    private ApexChartOptions<ReportRecord> MonthInputOutputChartOptions = new()
    {
        Legend = new() { Show = false }
    };

    private ApexChartOptions<ReportRecord> BucketProgressionChartOptions = new()
    {
        Yaxis = [ new YAxis() { Min = 0 } ]
    };

    private async void HideBucketMovementCheckboxClicked(ChangeEventArgs? eventArgs)
    {
        if (eventArgs?.Value == null) return;
        await DataContext.LoadBucketMovementsDataAsync((bool)eventArgs.Value);
        StateHasChanged();
        var tasks = new List<Task>()
        {
            MonthBalanceChart.UpdateSeriesAsync(true),
            MonthInputOutputChart.UpdateSeriesAsync(true),
            BucketProgressionChart.UpdateSeriesAsync(true),
        };
        
        await Task.WhenAll(tasks);
    }
}
