@using OpenBudgeteer.Blazor.Shared.Selector
@using OpenBudgeteer.Core.ViewModels.ItemViewModels
@using System.Drawing
@if (IsDialogVisible)
{
    <div class="modal fade show" style=" display: block;">
        <div class="modal-dialog modal-dialog-scrollable" style="max-width: 600px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Title</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" @onclick="OnCancelClickCallback"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Name:</label>
                        <input class="form-control form-control-sm" type="text" @bind="DataContext.Bucket.Name"/>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Bucket Type:</label>
                            <IntegerSelect
                                @bind-SelectedItem="@DataContext.BucketVersion.BucketType"
                                AvailableItems="@(new int[] { 1, 2, 3, 4 })"
                                SelectClasses="form-select form-select-sm">
                                <SelectOption Context="bucketType">
                                    <option value="@bucketType">@DataContext.AvailableBucketTypes.ElementAt(bucketType - 1)</option>
                                </SelectOption>
                            </IntegerSelect>
                        </div>
						<div class="col">
                            <label class="form-label">Bucket Group:</label>
                            <GuidSelect
                                @bind-SelectedItem="@DataContext.Bucket.BucketGroupId"
                                AvailableItems="@DataContext.AvailableBucketGroups.Select(i => i.BucketGroupId).ToList()"
                                SelectClasses="form-select form-select-sm">
                                <SelectOption Context="bucketGroupId">
                                    <option value="@bucketGroupId">@DataContext.AvailableBucketGroups.First(i => i.BucketGroupId == bucketGroupId).Name</option>
                                </SelectOption>
                            </GuidSelect>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Number of months:</label>
                            <input class="form-control form-control-sm" style="text-align: right;" type="number" @bind="DataContext.BucketVersion.BucketTypeXParam"/>
                        </div>
                        <div class="col">
                            <label class="form-label">Amount:</label>
                            <input class="form-control form-control-sm" style="text-align: right;" type="number" @bind="DataContext.BucketVersion.BucketTypeYParam"/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">(First) Target Date:</label>
                            <input class="form-control form-control-sm" style="text-align: right;" type="date" @bind="DataContext.BucketVersion.BucketTypeZParam" @bind:format="yyyy-MM-dd"/>
                        </div>
                        <div class="col">
                            <label class="form-label">Color:</label>
                            <StringSelect
                                @bind-SelectedItem="@DataContext.Bucket.ColorCode"
                                AvailableItems="@DataContext.AvailableColors.Select(i => i.Name).ToList()"
                                SelectClasses="form-select form-select-sm"
                                SelectStyles="@($"background-color: {@ColorTranslator.ToHtml(DataContext.Bucket.Color)}")">
                                <SelectOption Context="color">
                                    <option style="background-color: @ColorTranslator.ToHtml(Color.FromName(color))" value="@color">@color</option>
                                </SelectOption>
                            </StringSelect>
                        </div>
                    </div>
                    <div>
                        <label class="form-label">Notes:</label>
                        <textarea rows="5" style="width: 100%" @bind="DataContext.BucketVersion.Notes"></textarea>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="OnSaveClickCallback">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="OnCancelClickCallback">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public BucketViewModelItem DataContext { get; set; }

    [Parameter]
    public bool IsDialogVisible { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnCancelClickCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnSaveClickCallback { get; set; }
}
