@using OpenBudgeteer.Core.Common
@using OpenBudgeteer.Core.ViewModels
@using System.Drawing
@using System.Globalization
@using OpenBudgeteer.Core.Common.Extensions
@using OpenBudgeteer.Core.ViewModels.EntityViewModels
@using OpenBudgeteer.Core.ViewModels.Helper
@if (IsDialogVisible)
 {
    <div class="modal fade show" style=" display: block;">
        <div class="modal-dialog modal-dialog-scrollable" style="max-width: 1300px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Recurring Transactions</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" @onclick="OnClickCallback"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-row flex-wrap d-none d-md-block">
                        @if (_massEditEnabled)
                        {
                            <button class="btn btn-sm btn-primary me-2 mb-2" @onclick="@SaveAllTransaction">Save all</button>
                            <button class="btn btn-sm btn-danger me-2 mb-2" @onclick="@CancelAllTransaction">Cancel all</button>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-primary me-2 mb-2" @onclick="@DataContext.AddEmptyTransaction">Create Transaction</button>
                            <button class="btn btn-sm btn-primary me-2 mb-2" @onclick="@EditAllTransaction">Edit all</button>
                        }
                    </div>

                    <table class="table table-sm table-hover">
                        <thead>
                        <tr class="header-row">
                            <th style="text-align: right; width:130px">First Occurrence</th>
                            <th colspan="2">Recurrence</th>
                            <th style="width:150px">Account</th>
                            <th style="width:250px">Payee</th>
                            <th>Memo</th>
                            <th style="text-align: right; width: 120px">Amount</th>
                            <th class="d-none d-md-table-cell" style="width:120px" />
                        </tr>
                        </thead>
                        <tbody>
                            @foreach (var transaction in DataContext.Transactions)
                            {
                                @if (transaction.InModification)
                                {
                                    <tr>
                                        <td>
                                            <input class="form-control form-control-sm number-input" type="date" @bind="transaction.FirstOccurrenceDate" />
                                        </td>
                                        <td style="width:70px"><input class="form-control form-control-sm number-input" type="number" @bind="transaction.RecurrenceAmount" /></td>
                                        <td style="width:130px">
                                            <select class="form-select form-select-sm" 
                                                    @bind:get="transaction.RecurrenceType.ToString()"
                                                    @bind:set="(value) => { TransactionRecurrenceType_SelectionChanged(value, transaction); }">
                                                @foreach (var recurrenceType in Enum.GetValues<RecurringTransactionRecurrenceType>())
                                                {
                                                    <option value="@recurrenceType">@recurrenceType.GetStringValue()</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-select form-select-sm"
                                                    @bind:get="transaction.SelectedAccount.AccountId.ToString()"
                                                    @bind:set="(value) => { TransactionAccount_SelectionChanged(value, transaction); }">
                                                @foreach (var account in transaction.AvailableAccounts)
                                                {
                                                    <option value="@account.AccountId">@account.Name</option>
                                                }
                                            </select>
                                        </td>
                                        <td><input class="form-control form-control-sm" type="text" @bind="transaction.Payee" /></td>
                                        <td><textarea class="form-control form-control-sm" rows="1" @bind="transaction.Memo"></textarea></td>
                                        <td><input class="form-control form-control-sm number-input" type="number" @bind="transaction.Amount" /></td>
                                        <td class="d-none d-md-table-cell col-buttons">
                                            <button class="btn btn-sm btn-primary bi bi-check-lg" @onclick="@(() => SaveTransaction(transaction))"></button>
                                            <button class="btn btn-sm btn-danger bi bi-x-lg" @onclick="@(() => CancelTransaction(transaction))"></button>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td class="col-numbers">@transaction.FirstOccurrenceDate.ToShortDateString()</td>
                                        <td style="width:70px">Every @transaction.RecurrenceAmount</td>
                                        <td style="width:130px">@transaction.RecurrenceType.GetStringValue()</td>
                                        <td>@transaction.SelectedAccount.Name</td>
                                        <td>@transaction.Payee</td>
                                        <td>@transaction.Memo</td>
                                        <td class="col-numbers">@transaction.Amount.ToString("C", CultureInfo.CurrentCulture)</td>
                                        <td class="d-none d-md-table-cell col-buttons">
                                            <button class="btn btn-sm btn-primary bi bi-pencil" @onclick="@(() => transaction.StartModification())"></button>
                                            <button class="btn btn-sm btn-danger bi bi-trash3" @onclick="@(() => HandleTransactionDeletionRequest(transaction))"></button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="OnClickCallback">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
 }

 <DeleteConfirmationDialog 
    Title="Delete Transaction" 
    Message="Do you really want to delete this Transaction?" 
    IsDialogVisible="@_isDeleteTransactionModalDialogVisible"
    OnDeleteClickCallback="DeleteTransaction"
    OnCancelClickCallback="CancelDeleteTransaction"/>

<ErrorMessageDialog 
    Title="Transaction" 
    Message="@_errorModalDialogMessage" 
    IsDialogVisible="@_isErrorModalDialogVisible"
    OnClickCallback="@(() => _isErrorModalDialogVisible = false)"/>

@code {
    [Parameter]
    public RecurringTransactionHandlerViewModel DataContext { get; set; } = null!;

    [Parameter]
    public bool IsDialogVisible { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

    bool _massEditEnabled;

    bool _isDeleteTransactionModalDialogVisible;
    RecurringTransactionViewModel? _transactionToBeDeleted;

    bool _isErrorModalDialogVisible;
    string _errorModalDialogMessage = string.Empty;

    void EditAllTransaction()
    {
        _massEditEnabled = true;
        DataContext.EditAllTransaction();
    }

    async void SaveAllTransaction()
    {
        _massEditEnabled = false;
        await HandleResult(DataContext.SaveAllTransaction());
    }

    async void CancelAllTransaction()
    {
        _massEditEnabled = false;
        await HandleResult(await DataContext.CancelAllTransactionAsync());
        StateHasChanged();
    }

    async void SaveTransaction(RecurringTransactionViewModel transaction)
    {
        await HandleResult(transaction.CreateOrUpdateTransaction());
    }

    void CancelTransaction(RecurringTransactionViewModel transaction)
    {
        transaction.CancelModification();
        if (transaction.RecurringTransactionId == Guid.Empty) DataContext.Transactions.Remove(transaction);
    }

    void TransactionRecurrenceType_SelectionChanged(string? value, RecurringTransactionViewModel transaction)
    {
        if (string.IsNullOrEmpty(value)) return;
        transaction.RecurrenceType = Enum.TryParse(typeof(RecurringTransactionRecurrenceType), value, out var result) 
            ? (RecurringTransactionRecurrenceType)result 
            : RecurringTransactionRecurrenceType.Weeks; 
    }

    void TransactionAccount_SelectionChanged(string? value, RecurringTransactionViewModel transaction)
    {
        if (string.IsNullOrEmpty(value)) return;
        transaction.SelectedAccount = transaction.AvailableAccounts.First(i => i.AccountId == Guid.Parse(value));
    }

    void HandleTransactionDeletionRequest(RecurringTransactionViewModel transaction)
    {
        _transactionToBeDeleted = transaction;
        _isDeleteTransactionModalDialogVisible = true;
    }

    void CancelDeleteTransaction()
    {
        _isDeleteTransactionModalDialogVisible = false;
        _transactionToBeDeleted = null;
    }

    async void DeleteTransaction()
    {
        _isDeleteTransactionModalDialogVisible = false;
        await HandleResult(_transactionToBeDeleted!.DeleteItem());
    }

    async Task HandleResult(ViewModelOperationResult result)
    {
        if (!result.IsSuccessful)
        {
            _errorModalDialogMessage = result.Message;
            _isErrorModalDialogVisible = true;
        }
        if (result.ViewModelReloadRequired)
        {
            await DataContext.LoadDataAsync();
            StateHasChanged();
        }
    }
}
