@using OpenBudgeteer.Core.ViewModels
@using System.Globalization
@using OpenBudgeteer.Core.Data.Entities.Models
@using OpenBudgeteer.Core.ViewModels.Helper

@if (IsDialogVisible)
 {
     <div class="modal fade show" style=" display: block;">
         <div class="modal-dialog modal-dialog-scrollable" style="max-width: 1300px">
             <div class="modal-content">
                 <div class="modal-header">
                     <h4 class="modal-title">@Title</h4>
                     <button type="button" class="btn-close" data-dismiss="modal" @onclick="OnClickCallback"></button>
                 </div>
                 <div class="modal-body">
                     @if (IsDialogLoading)
                     {
                         <div>Loading...</div>
                     }
                     else
                     {
                         <table class="table table-sm table-hover">
                             <thead>
                                 <tr class="header-row">
                                     <th style="text-align: right; width:110px">Date</th>
                                     <th class="d-none d-lg-table-cell" style="width:150px">Account</th>
                                     <th class="d-none d-lg-table-cell" style="width:250px">Payee</th>
                                     <th>Memo</th>
                                     <th style="text-align: right; width: 120px">Amount</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 @foreach (var transaction in DataContext.Transactions)
                                 {
                                     <tr>
                                         <td style="text-align: right">@transaction.TransactionDate.ToShortDateString()</td>
                                         <td class="d-none d-lg-table-cell">@transaction.SelectedAccount.Name</td>
                                         <td class="d-none d-lg-table-cell">@transaction.Payee</td>
                                         <td>@transaction.Memo</td>
                                         <td style="text-align: right">@transaction.Amount.ToString("C", CultureInfo.CurrentCulture)</td>
                                     </tr>
                                 }
                             </tbody>
                         </table>
                     }
                 </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="OnClickCallback">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
 }

@code {

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public TransactionListingViewModel DataContext { get; set; } = null!;

    [Parameter]
    public bool IsDialogVisible { get; set; }

    [Parameter]
    public bool IsDialogLoading { get; set; }

	[Parameter]
    public Bucket CurrentBucket { get; set; } = null!;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}
