@using OpenBudgeteer.Core.ViewModels
@using OpenBudgeteer.Core.Common

<style>
    .element-margin {
        margin-left: 5px;
    }
</style>

<div class="col-md-auto d-flex justify-content-end align-items-center">
    <button class="btn btn-sm btn-primary" @onclick="@(DataContext.PreviousMonth)">&lt;</button>
    <select class="form-control form-control-sm element-margin" style="width: auto" @onchange=@SelectedMonth_SelectionChanged>
        @foreach (var month in DataContext.Months)
        {
            if (month == DataContext.SelectedMonth)
            {
                <option selected value="@month">@_monthConverter.ConvertMonth(month)</option>
            }
            else
            {
                <option value="@month">@_monthConverter.ConvertMonth(month)</option>
            }
        }
    </select>
    <input class="form-control form-control-sm element-margin" style="text-align: right; width: 50px" type="text" @bind="DataContext.SelectedYear" />
    <button class="btn btn-sm btn-primary element-margin" @onclick="@(DataContext.NextMonth)">&gt;</button>
</div>

@code {
    [Parameter]
    public YearMonthSelectorViewModel DataContext { get; set; }

    readonly MonthOutputConverter _monthConverter = new MonthOutputConverter();

    void SelectedMonth_SelectionChanged(ChangeEventArgs e)
    {
        DataContext.SelectedMonth = Convert.ToInt32(e.Value);
    }
}
